set interfaces wireguard wg1 address '192.168.255.1/31'
set interfaces wireguard wg1 mtu '9000'
set interfaces wireguard wg1 peer kagoya address <サーバ側のIPアドレス>
set interfaces wireguard wg1 peer kagoya allowed-ips '192.168.255.0/32'
set interfaces wireguard wg1 peer kagoya port '51820'
set interfaces wireguard wg1 peer kagoya public-key <サーバ側の公開鍵>
set interfaces wireguard wg1 private-key <クライアント側の秘密鍵>