set interfaces wireguard wg1 address '192.168.255.0/31'
set interfaces wireguard wg1 mtu '9000'
set interfaces wireguard wg1 peer onprem allowed-ips '192.168.255.1/32'
set interfaces wireguard wg1 peer onprem public-key <クライアント側の公開鍵>
set interfaces wireguard wg1 port '51820'
set interfaces wireguard wg1 private-key <サーバ側の秘密鍵>